/*Variables de entornos*/

/*--titulos_principales: */


*{
    padding: 0;
    margin: 0;
    font-style: inherit;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

header{
    /*border: solid white 1px;*/
    background-color: #12303d;
    display: flex;
    justify-content: space-between;

}
.menu{
    display: flex;
    background-color: transparent;
}

.logo{
    padding: 0.8rem 1rem;
    background-color: transparent;
}

.menu a{
    /*background-color: blueviolet;*/
    padding: 0.8rem 0.8rem;
    border: none;
    text-decoration: none;
}

.menu a:hover{
    color:white;
    background-color: #184153;
    /*border-bottom: white solid;*/
}

.user-info{
    display: flex;
    flex-direction: column;
    padding: 0.2rem 1.5rem;
}

/*  Cuerpo del sistema para PPE */

.grid-views_security{
    width: calc(100% - 0.1rem);
    height: calc(100vh - 2.8rem);/*2.8rem*/
    /*border: solid white 1px;*/
    display: grid;
    grid-template-columns: 75% calc(25% - 20px) 1fr 2fr;/*150vh  37vh*/
    gap: 20px;
}

.item-principal, .item-control-frame{
    /*border:  solid white;*/
}
aside{
    border:  solid white 0.1rem;
}

.item-control-frame{
    display: grid;
    grid-template-rows: 80% calc(20% - 20px) 1fr 2fr;
    gap: 20px;

}

.item-principal .conte-view-frame_principal, .item-principal .conte-view-frame-deteccion{
    border: solid white 0.1rem;
    height: 100%;
}

