
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>Deteccion de PPE</title>
</head>
<body>
    <header class="topbar">   
    <nav class="menu">
        <div class="logo">Yandri</div>
    </nav>

    <div class="user-info">
        <img src="/static/avatar.png" alt="avatar">
        <span class="user-name">{{ name or "Usuario" }}
            <span class="user-role">Admin</span>
        </span>
    </div>
</header>
    <main class='grid-views_security'>
        <!--<h1>Dashboard</h2>-->
        <article class='item-principal item-control-frame'>
            <div class='conte-view-frame_principal'>
            </div>
            <div class='conte-view-frame-deteccion'></div>
        </article>
        <aside class='item-principal frame-deteccion-components'>
            <div class="contents avatar-box">

                <!-- AVATAR CENTRADO -->
                <div class="avatar">
                    <img src="/static/img/avatar_gris.svg" class="layer" data-layer="base">
                    <img src="/static/img/casco.svg" class="layer" data-layer="casco">
                    <img src="/static/img/gafas.svg" class="layer gafas" data-layer="gafas">
                    <img src="/static/img/chaleco.svg" class="layer" data-layer="chaleco">
                    <img src="/static/img/Guantes.svg" class="layer guantes" data-layer="guantes">
                    <img src="/static/img/Botas.svg" class="layer" data-layer="botas">
                </div>

                <!-- CHECKLIST -->
                <div class="contents-check">
                    <h6>Equipamiento</h6>
                    <ul>
                        <li data-part="casco">Casco</li>
                        <li data-part="chaleco">Chaleco</li>
                        <li data-part="guante_derecho">Guante Derecho</li>
                        <li data-part="guante_izquierdo">Guante Izquierdo</li>
                        <li data-part="bota_derecha">Bota Derecha</li>
                        <li data-part="bota_izquierda">Bota Izquierda</li>
                    </ul>
                </div>

            </div>


            <div class="contents">

                <!-- AVATAR CENTRADO -->
                <div class="avatar">
                    <img src="/static/img/avatar_gris.svg" class="layer" data-layer="base">
                    <img src="/static/img/casco.svg" class="layer" data-layer="casco">
                    <img src="/static/img/gafas.svg" class="layer gafas" data-layer="gafas">
                    <img src="/static/img/chaleco.svg" class="layer" data-layer="chaleco">
                    <img src="/static/img/Guantes.svg" class="layer guantes" data-layer="guantes">
                    <img src="/static/img/Botas.svg" class="layer" data-layer="botas">
                </div>

                <!-- CHECKLIST -->
                <div class="contents-check">
                    <h6>Equipamiento</h6>
                    <ul>
                        <li data-part="casco">Casco</li>
                        <li data-part="chaleco">Chaleco</li>
                        <li data-part="guante_derecho">Guante Derecho</li>
                        <li data-part="guante_izquierdo">Guante Izquierdo</li>
                        <li data-part="bota_derecha">Bota Derecha</li>
                        <li data-part="bota_izquierda">Bota Izquierda</li>
                    </ul>
                </div>

            </div>
            <div class='contents'></div>
            <div class='contents'></div>
        </aside>
    </main>
</body>
</html>

