
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title>Deteccion de PPE</title>
</head>
<body>
    <header class="topbar">   
    <nav class="menu">
        <div class="logo">Yandri</div>
    </nav>

    <div class="user-info">
        <img src="/static/avatar.png" alt="avatar">
        <span class="user-name">{{ name or "Usuario" }}
            <span class="user-role">Admin</span>
        </span>
    </div>
</header>
    <main class='grid-views_security'>
        <!--<h1>Dashboard</h2>-->
        <article class='item-principal item-control-frame'>
            <div class='conte-view-frame_principal'>
            </div>
            <div class='conte-view-frame-deteccion'></div>
        </article>
        <aside class='item-principal frame-deteccion-components'>
            <div class='contents'>
                <div>
                    <img src='' target='Casco'>
                    <img src='' target='guantes'>
                    <img src='' target='guante_derecho'>
                    <img src='' target='guante_izquierdo'>
                    <img src='' target='botas-derecha'>
                    <img src='' target='botas-izquierda'>
                </div>
                <div class='contents-check'>
                    <h6>Nombre del avatar</h6>
                    <ul>
                        <li>Casco</li>
                        <li>Chaleco</li>
                        <li>Guantes</li>
                        <li>Botas</li>
                    </ul>
                </div>
            </div>
            <div class='contents'>
                <div>
                    <img src='' target='Casco'>
                    <img src='' target='guantes'>
                    <img src='' target='guante_derecho'>
                    <img src='' target='guante_izquierdo'>
                    <img src='' target='botas-derecha'>
                    <img src='' target='botas-izquierda'>
                </div>
                <div class='contents-check'>
                    <h6>Nombre del avatar</h6>
                    <ul>
                        <li>Casco</li>
                        <li>Chaleco</li>
                        <li>Guantes</li>
                        <li>Botas</li>
                    </ul>
                </div>
            </div>
            <div class='contents'></div>
            <div class='contents'></div>
        </aside>
    </main>
</body>
</html>

